
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.spec
dist/
build/
*.exe

env/
venv/
ENV/
.venv/
.VENV/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

*.egg
*.egg-info/
.eggs/

*.log

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
